<div class="container height8">
      <div class="row header btn-group btn-group-toggle header-background height100" data-toggle="buttons">
                    <app-header  class="col-sm col-md  height100" [navOptions]="navOptions" ></app-header>
                     <app-search class="col-sm search-width"></app-search>
      </div>
</div>



<div class="container  height100" >

            <div class="height100" *ngIf=" router.url === '/'; else rest">
              <div class="login height100">
                  <p class="shrink">{{labelTitle}}</p>
                  <button class="btn-primary shrink" (click)="login()">{{buttonTitle}}</button>
              </div>
          </div>

          <ng-template #rest>
              <router-outlet></router-outlet>
          </ng-template>

</div>
