<!-- <form novalidate>

          <div class="form-group">
            <label>First</label>
            <input type="text"class="form-control">
          </div>

          <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control">
          </div>

        <div class="form-group">
          <label>Price</label>
          <input type="text"class="form-control">
        </div>

        <div class="form-group">
          <label>Category</label>
          <select class="form-control">
            <option value="">Please select a language</option>
          </select>
        </div>

        <div class="form-group">
          <label>Image Url</label>
          <input type="text"class="form-control">
        </div>

        <div class="form-group">
          <label>Phone Number</label>
          <input type="text"class="form-control">
        </div>

        <div class="form-group">
          <label>Select</label>
          <select class="form-control">
            <option value="">Please select a language</option>
          </select>
        </div>

        <div class="form-group">
            <button>Reset</button>
            <button>Save</button>
        </div>

</form> -->


